.data-card{
width:25%;
float:left;
margin:10px;
}


.selection-section
{
  margin-top: 60px;
  margin-left: 20px;
}

.selection-section { text-align: center; width: 35%;}
.categorySection { float: left; }
.speciesSection { display: inline}
.submit { float: right; }
