.data-card{
width:25%;
float:left;
margin:10px;
}


.selection-section
{
  margin-top: 60px;
  margin-left: 20px;
}

.selection-section { text-align: center; width: 35%;}
.categorySection { float: left; }
.speciesSection { display: inline}
.submit { float: right; }


/* diaplay edit */
.float-my-children > * {
    float:right ;
    margin-right:5px;
}

/* this is called a clearfix. it makes sure that the container's children floats are cleared, without using extra markup */

.clearfix {
    *zoom:1 /* for IE */
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* end clearfix*/

/* below is just to make things easier to see, not required */
body > div {
    border:1px dashed red;
    margin-bottom:10px;
}

.delete{
    color: red;
    display: none;
}
.title:hover .delete {
   display:block
}
